<div class="section header white full-height">
    <div class="background">
        <!-- <img src="images/restaurant_icons.png" alt=""> -->
        <img class="bg-repeat" alt="">
    </div>

    <nav class="translucent">
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb"></a>
                <a href="/explore" class="breadcrumb">Explore</a>
                <a class="breadcrumb">{{title}}</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="card-panel">
            <div class="row">
                <div class="col m12 l12">
                    <div class="row">
                        <h4 class="strong" id="market_name">{{title}}</h4>
                        <div class="rating">
                            <!-- v2 to calculate average review rating and update accordingly -->
                            <a href="https://www.yelp.com/biz/{{id}}" target="_blank"><span class="userreviewct" id="review_count">{{review_count}}</span><span>&nbsp;reviews</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of header row -->

            <div class="row text-grey text-darken-3 center-align smallrw">
                <div class="col s12 m3 l3 center-align mapborder card-panel white leftsection smallheight" id="marketDetailsInfo">
                    <img class="googlemap imgpadding responsive-img" src="images/mapplaceholder.png" alt="">

                    <!-- farmer map and address details -->
                    <div class="row smallrw">
                        <div class="col m2 l2 right-align"><i class="material-icons icon-grey">place</i>
                        </div>

                        <div class="col m10 l10 left-align">
                            <span id="address_google"></span>
                        </div>
                    </div>

{{!--                     <div class="row smallrw">
                        <div class="col m3 l3 right-align">
                            <i class="material-icons icon-grey">directions</i>
                        </div>
                        <div class="col m9 l9 left-align">
                            <a href="#" id="google_directions"><span >Get Directions</span></a>
                        </div>
                    </div> --}}

                    <div class="row smallrw">
                        <div class="col m2 l2 right-align">
                            <i class="material-icons icon-grey">phone</i>
                        </div>
                        <div class="col m10 l10 left-align">
                            <span id="contact"></span>
                        </div>
                    </div>

                    <div class="row smallrw directionPos valign-wrapper">
                        <div class="col m2 l2 right-align">
                            <i class="material-icons icon-grey">today</i>
                        </div>
                        <div class="col m10 l10 left-align">
                            <p class="black-text smMargin" id="openinghours"><span class="strong">Wed:</span>&nbsp;&nbsp;<span>3:00PM - 5:00PM</span></p>
                        </div>
                    </div>
                </div>

                <!-- scrolling images with mouse over effect -->
                <div class="col s12 m9 l9">
                    <div class="carousel">
                        {{#each photos}}
                            <a class="carousel-item" href="#" onclick="return false;"><img src="{{this}}"></a>
                        {{/each}} 
                    </div>
                </div>

            </div>

            {{!-- <div class="row reviews"></div> --}}
                
                <div class="col s12 m12">
                    <h4><span class="red-text">Your Favorite Farmers</span></h4>
                </div>
                
                {{!-- <section id="vendors"> --}}
                <div class="row vendors"></div>


                {{!-- </section> --}}
            
        </div>
        <!-- End of container -->

    </div>
</div>

<script src="js/marketDetails.js"></script>
<script>
    $.get("/api/viewmarket/{{id}}", (result) => { 
        let market = result.result[0];        
        console.log("Market JSON:", market);

        // Populate fields with market data
        $('#address_google').text(market.address_google);
        $('#contact').text(market.contact);
        $('#google_directions').attr('href', "https://maps.google.com?q=" + encodeURIComponent(market.address_google));
        $('#openinghours').html(`<span class="strong">${market.opening_day}</span>:&nbsp;<span>${market.openinghours}</span>`);

        let vendorList = market.Vendors;
        // $('.vendors').empty();
        // Display vendor info
        if (vendorList.length > 0){
            displayMarketVendors(vendorList);
        } 
        // Display default message if no vendor data
        else {            
            $('.vendors').append('&nbsp;&nbsp;&nbsp;No vendor information available. Be the first to add a vendor!');
        }
    })
    .fail((err)=> {
        console.log("Error:", err);
    });
</script>